In [2]:
## Installation of Library
#!pip install woe_iv_bin==0.1.2

In [3]:
## Load Package
from woe_iv_bin import categorical_woe
from woe_iv_bin import continuous_woe

In [4]:
import pandas as pd
import numpy as np

In [5]:
## Data

# Seed for reproducibility
np.random.seed(42)

# Generating synthetic data
n = 1000  # Number of samples
df = pd.DataFrame({
    'target': np.random.binomial(1, p=0.3, size=n),  # Binary target variable with a 30% chance of being 1
    'cat_feature': np.random.choice(['Category 1', 'Category 2', 'Category 3'], size=n),  # Categorical feature
    'cont_feature': np.random.normal(loc=50, scale=15, size=n)  # Continuous feature
})

# Display the first few rows of the dataframe
df.head()

   target cat_feature  cont_feature
0       0  Category 3     51.227440
1       1  Category 2     48.516655
2       1  Category 3     63.786147
3       0  Category 3     45.645882
4       0  Category 1     54.010885

In [6]:
# Categorical 
woe_results = categorical_woe(df, cat_variable_name='cat_feature', y_df=df['target'])

In [7]:
woe_results

                 WoE        IV  total_IV
feature
Category 1 -0.002976  0.000003  0.000182
Category 2  0.017221  0.000102  0.000182
Category 3 -0.015603  0.000077  0.000182

In [8]:
## Continuous 
df_binned, optimized_bins, binning_woe_results = continuous_woe(df, feature = 'cont_feature', target = 'target', max_bins=20, min_samples_bin=0.05)

In [9]:
binning_woe_results

,optimized_bin,optimized_WoE,optimized_IV,total_optimized_IV
0,"(4.707317662687622, 32.1791878433128]",-0.024372,3.137819e-05,0.071725
1,"(32.1791878433128, 35.9077281428893]",0.002245,2.628047e-07,0.071725
2,"(35.9077281428893, 38.80276234387337]",-0.024372,3.137819e-05,0.071725
3,"(38.80276234387337, 41.239017125807045]",-0.193106,1.860844e-03,0.071725
4,"(41.239017125807045, 43.560877346425876]",0.154529,1.308237e-03,0.071725
5,"(43.560877346425876, 45.85229236917647]",-0.680270,2.078071e-02,0.071725
6,"(45.85229236917647, 47.43197008702913]",0.094010,4.694620e-04,0.071725
7,"(47.43197008702913, 49.472993002336764]",0.239708,3.198346e-03,0.071725
8,"(49.472993002336764, 51.043845649058426]",-0.409680,7.943617e-03,0.071725
9,"(51.043845649058426, 52.96875698666522]",0.066664,2.392752e-04,0.071725
10,"(52.96875698666522, 55.33091196238168]",-0.657318,1.915638e-02,0.071725
11,"(55.33091196238168, 59.58665308466522]",0.066664,2.392752e-04,0.071725
12,"(59.58665308466522, 62.11643707169375]",0.094010,4.694620e-04,0.071725
13,"(62.11643707169375, 65.17802970008489]",0.403626,9.322195e-03,0.071725
14,"(65.17802970008489, 68.5826243642094]",0.002245,2.628047e-07,0.071725
15,"(68.5826243642094, 97.8966135176729]",0.239708,3.198346e-03,0.071725